.hd{
    background-color: #FFF5E0;
    text-align: center;
    padding-top: 290px;
    color: #BB2525;
    overflow-x: hidden;
}
hr{
    margin: 80px auto;
    border: dotted gray 6px;
    border-bottom: none;
    width:5%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
h2{
    font-family: "Alumni Sans";
    font-size: 3rem;
    padding: 10px 0;
    font-weight: bold;
}
h1{
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cubrsive;
    font-size: 3rem;
    
}

h3{
    color: #11999E;
    font-size: 1.5rem;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    margin: 30px 20px;
    text-decoration: none;
}
a:hover{
    color: red;
}
.middle-container{
    padding-top: 30px;
}
.bottom-container{
    background-color: #FFF5E0;
    padding: 30px;
}

.bottom{
    position: absolute;
    left: 250px;
    top: 60%;
    animation-name: move;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1000;
}
.top{
    position: absolute;
    right: 350px;
    bottom: 65%;
    animation-name: move;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1000;
}
/* @keyframes move {
    from{
        right: 350px;
    }
    to{
        right: 450px;
    }
}
@keyframes slide {
    from{
        right: 350px;
    }
    to{
        right: 450px;
    }
} */
.sun{
    height: 70px;
    width: 5%;
    position: absolute;
    bottom:70%;
    left: 30%;
    animation-name: rotate;
    animation-duration: 1000s;
}
@keyframes rotate {
    10%{
    transform: rotate(5000deg);
    }
}
.skill-row{
    width: 60%;
    margin: 30px auto;
    text-align: left;
    line-height: 2;
    font-size: 1.2rem;
    overflow-x: hidden;

}
.skimg{
    float:left;
    padding-right: 30px;
    
}
.skimg1{
    float:right;
    padding-right: 30px;
}
.skill-row3{
    line-height: 3; 
    text-align: center;
}
@media screen and (max-width:1024px) {
    body{
        overflow-x: hidden;
    }
    .hd{
        overflow-x: hidden;
    }
    .middle-container{
        overflow-x: hidden;
    }
    .sun{
        width: 15%;
        position: absolute;
        left: 10%;
        top: 30%;
    }
    .top{
        width: 20%;
        position: absolute;
        right: 10%;
        top: 40%;
    }
    .bottom{
        width: 20%;
        position: absolute;
        left: 10%;
        top: 80%;
    }
    .mt{
        width:100%;
        height: 300px;
    }
    .intro{
        width: 80%;

    }
    .abph{
        width: 600px;
        height: 200px;
        display: flex;
        justify-content: center;
        margin: 50px 0;

    }
    .intro-1{
        margin-top: 150px;
        padding:20px 50px;
    }
    .intro-1 h4{
        text-align: center;
    }
    .skill-row{
        width: 100%;
        font-size: 1rem;
        overflow-x: hidden;

    }
    .skills{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
    }
    .middle-container{
        font-size: 1rem;
    }
    .abtmecont{
        overflow-x: hidden;
    }
    .mainpic{
        width: 80%;
        height: 100px;
    }
}
.mainpic{
    clip-path: circle(); width: 800 px; height: 400px;

}
.tron {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #F3F5F5;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    background-color: #BB2525;
    -webkit-box-shadow: 4px 1px 20px 0 #FFF5E0;
    -moz-box-shadow: 4px 1px 20px 0 #FFF5E0;
    box-shadow: 4px 1px 20px 0 #FFF5E0;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 50px auto;
    font-family: 'Montserrat', sans-serif;
 } 
 
 .tron:hover {
    background: #000000;
    border: solid #141E46 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
 }
.intro{
    margin: 0 auto;
    font-size: 1.2rem;
}
.copy{
    color: #000000;
    font-size: 0.8rem;
    padding-bottom: 1px;

}
.navig{
    background-color:#FFF5E0;
    color: #fff;
}
.intro-1{
    padding-top: 10%;
    text-align: left;
    line-height: 3;
    font-size: 1.2rem;
}
.abthead{
    padding: 1.5% 0;
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
}
.abph{
    padding-top: 10%;
}
.cont{
    padding: 7% 10%;
}
.box{
    height: 800px;
    width: 20%;
    margin: 0 10%;
}
.contb{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );}
.card{
    background-color: #FFF5E0;
    height: 250px;
    width: 50%;
}
.card-body{
    text-align: center;
    margin-top: 35px;


}
.icon{
    height: 120px;
}
@media (max-width:1024px) {
    .cont{
        padding-left: 15%;
    }
    .box{
        width: 80%;
    }
}
.todoimg{
    border-radius: 20%;
    height: 250px;
    width: 400px;
}
.bdp{
    background-image: linear-gradient( 109.6deg,  rgba(103,30,117,1) 11.2%, rgba(252,76,2,1) 91.1% );    width: 100%;
}
.i{
    margin: 5% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
a p{
    color: #fff;
    font-size: 1.1rem;
    padding-top: 5%;
}
#i1descp{
    background-color: #F3F5F5;
    display: none;
    width: 80%;
    margin:5% 10%;
}
#i2descp{
    background-color: #F3F5F5;
    display: none;
    width: 80%;
    margin:5% 10%;
}
#i3descp{
    background-color: #F3F5F5;
    display: none;
    width: 80%;
    margin:5% 10%;
}
#i4descp{
    background-color: #F3F5F5;
    display: none;
    width: 80%;
    margin:5% 10%;
}
#i5descp{
    background-color: #F3F5F5;
    display: none;
    width: 80%;
    margin:5% 10%;
}
.i p{
    line-height: 2.3;
    padding: 2%;
}
